-# ヘッダ
.header
  ヘッダー

%main#user-main
  .card-container
    .card-container__header
      %h2.card-container__header__headline
        クレジットカード情報入力
    -# カード情報入力
    = render 'form', {payjp_card: @payjp_card}
  -# ナビゲーションバー
  = render 'users/user-navigation'

-# フッタ
.footer
  フッター