input[type="text"].validation-error {
  border: solid 1px #ea352d;
}

select.validation-error {
  border: solid 1px #ea352d;
}

textarea.validation-error {
  border: solid 1px #ea352d;
}

.validation-error__text {
  margin: 8px 0;
  color: $text-red;
  line-height: 1.5;
  font-size: 14px;
  list-style:none;
  overflow-wrap: break-word;
  word-wrap: break-word;
}

input[type="email"].validation-error{
  border: solid 1px #ea352d;
}

input[type="password"].validation-error{
  border: solid 1px #ea352d;
} 
.validation-error__text--center {
  text-align: center;
  margin: 8px 0;
  color: $text-red;
  line-height: 1.5;
  font-size: 14px;
}
