%header.registaration-header
  = image_tag "logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",class:"registaration-header__image" 
  %nav.registaration-header__nav
    %ol.registaration-header__list
      %li.registaration-header__list--progress
        会員情報
        .registaration-header__list--progress--status--start
      %li.registaration-header__list--progress
        電話番号認証
        .registaration-header__list--progress--status
      %li.registaration-header__list--progress
        お届け先住所入力
        .registaration-header__list--progress--status
      %li.registaration-header__list--progress
        支払い方法
        .registaration-header__list--progress--status
      %li.registaration-header__list--progress--end
        完了
        .registaration-header__list--progress--status--end
