= render partial: 'devise/registrations/registrations-header'
.registration__create-wrapper
  .registration__create-contents
    %h2.registration__create-title
      会員登録完了
    %p.registration__create-text
      ありがとうございます。
      会員登録が完了しました。
    %button.registration__create-btn
      メルカリをはじめる
= render partial: 'deals/footer'