.items-sell-header {
  width: 700px;
  height: 50px;
  margin: 0 auto;
  padding: 40px 0 0;
  text-align: center;
  &__logo {
    &__image {
      height: 50px;
      box-sizing: border-box;
    }
  }
}