.root-exhibit__button
  .root-exhibit__button--text
    出品
  =link_to "https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg",class: "root-exhibit__button__icon" do
    = fa_icon "camera 3x", class: "root-exhibit__button__icon"