%footer.root-footer__menu
  .root-footer__menu__nav
    .root-footer__menu__nav__list
      %h2.root-footer__menu__nav__list--icon
        メルカリについて
      %ul.root-footer__menu__nav__list--company-outline
        %li.root-footer__menu__nav__list--company-outline--entity
          会社概要（運営会社）
        %li.root-footer__menu__nav__list--company-outline--entity
          採用情報
        %li.root-footer__menu__nav__list--company-outline--entity
          プレスリリース
        %li.root-footer__menu__nav__list--company-outline--entity
          公式ブログ
        %li.root-footer__menu__nav__list--company-outline--entity
          メルカリロゴ利用ガイドライン
        .root-footer__menu--icon
          = fa_icon "twitter 3x", class: "footer__menu__box__lower--search--categoly--icon"
          = fa_icon "facebook-square 3x", class: "footer__menu__box__lower--search--categoly--icon"
    .root-footer__menu__nav__list
      %h2.root-footer__menu__nav__list--icon
        ヘルプ&ガイド
      %ul.root-footer__menu__nav__list--help
        %li.root-footer__menu__nav__list--help--entity
          メルカリガイド
        %li.root-footer__menu__nav__list--help--entity
          らくらくメルカリ便
        %li.root-footer__menu__nav__list--help--entity
          ゆうゆうメルカリ便
        %li.root-footer__menu__nav__list--help--entity
          大型メルカリ便
        %li.root-footer__menu__nav__list--help--entity
          車体取引ガイド
        %li.root-footer__menu__nav__list--help--entity
          メルカリあんしん・安全宣言
        %li.root-footer__menu__nav__list--help--entity
          偽ブランド品撲滅への取り組み
        %li.root-footer__menu__nav__list--help--entity
          メルカリボックス
    .root-footer__menu__nav--base
      %h2.root-footer__menu__nav--base--icon
        プライバシーと利用規約
      .root-footer__menu__nav--base--rule
        %ul.root-footer__menu__nav--base--rule__list
          %li.root-footer__menu__nav--base--rule__list--entity
            プライバシーポリシー
          %li.root-footer__menu__nav--base--rule__list--entity
            メルカリ利用規約  
          %li.root-footer__menu__nav--base--rule__list--entity
            あんしんスマホサポート制度
          %li.root-footer__menu__nav--base--rule__list--entity
            コンプライアンスポリシー
      .root-footer__menu__nav--base--rule
        %ul.root-footer__menu__nav--base--rule__list
          %li.root-footer__menu__nav--base--rule__list--entity
            個人データの安全管理に係る基本方針
          %li.root-footer__menu__nav--base--rule__list--entity
            特定商取引に関する表記
          %li.root-footer__menu__nav--base--rule__list--entity
            資金決済法に基づく表示
          %li.root-footer__menu__nav--base--rule__list--entity
            法令順守と犯罪抑止のために
    .root-footer__menu__nav__list
      %h2.root-footer__menu__nav__list--icon
        国
      %ul.root-footer__menu__nav__list--country
        %li.root-footer__menu__nav__list--country--entity
          日本
        %li.root-footer__menu__nav__list--country--entity
          united states
  .root-footer__menu__copyright
    .root-footer__menu__copyright__box
      =image_tag  "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"
      %span.root-footer__menu__copyright__box--logo
        © 2019 Mercari