%header.root-menu
  .root-menu__box
    .root-menu__box__upper
      .root-menu__box__upper__icon 
        = image_tag "logo-acdd90ac4f472d5a6f7a330d33ab1225.svg", size: "134x36"
      .root-menu__box__upper__form
        %input.root-menu__box__upper--text
        .root-menu__box__upper--button
          = fa_icon "search", class: "root-menu__box__upper__button__icon"
    .root-menu__box__lower
      .root-menu__box__lower__left
        .root-menu__box__lower__left--categoly
          =link_to "https://www.yahoo.co.jp",class: "root-menu__box__lower__left--categoly" do
            = fa_icon "list-ul", class: "root-menu__box__lower__left--categoly__icon"
            カテゴリーから探す
        .root-menu__box__lower__left--brand
          =link_to "https://www.yahoo.co.jp",class: "root-menu__box__lower__left--brand" do
            = fa_icon "tag", class: "root-menu__box__lower__left--categoly__icon"
            ブランドから探す
      .root-menu__box__lower__right
        .root-menu__box__lower__right--sign-in
          =link_to "新規会員登録","https://www.yahoo.co.jp",class: "root-menu__box__lower__right__button",:style=>"color:white";
        .root-menu__box__lower__right--log-in
          =link_to "ログイン","https://www.yahoo.co.jp",class: "root-menu__box__lower__right__button";

  .root-short__menu
    .root-short__menu__box