- if errors.added?(symbol, :blank)
  .validation-error__text
    = errors.full_messages_for(symbol).first
- else
  - errors.full_messages_for(symbol).each do |full_message|
    .validation-error__text
      = full_message