.login-wrapper{
  background-color:$background-smokewhite;
  min-height: 100vh;
}

.login-contents{
  text-align:center;
  max-width:456px;
  margin: 0 auto;
  background-color:$background-white ;
}

.login-create{
  max-width:343px;
  margin:0 auto;
  padding: 40px 64px;
  text-align:center;
}

.login-title{
  font-size: 14px;
}

.login-registration{
  &__button{
    display: block;
    margin: 8px 0 0;
    border: 1px solid #0099e8;
    background: #0099e8;
    color: #fff;
    line-height: 40px;
  }
}

.login-form{
  max-width:343px;
  margin:0 auto;
  margin-top:32px;
}

.login-field{
  width:100%;
  
}
.login-actions{
  width:100%;
  padding-bottom:32px;
}

.login-caution{
  padding-bottom:32px;
  text-align:left;
  margin-bottom:50px;
  &__text{
    text-decoration: none;
    color: #0099e8;
  }
}

.login-top-section{
  &--mail{
    margin: 16px 0 0;
    text-align: center;
    position: relative;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background: #ea352d;
    border: none;
    width: 100%;
    font-size: 14px;
    line-height: 48px;
  }
  &__item{
    text-decoration: none;
    color: white;
  }
}
