.login-contents{
  text-align:center;
  max-width:700px;
  margin: 0 auto;
  background-color:$background-white ;
}

.login-create{
  max-width:343px;
  margin:0 auto;
}

.login-title{
  padding: 12px;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

.login-form{
  max-width:343px;
  margin:0 auto;
  margin-top:80px;
}

.login-field{
  width:100%;
  
}
.login-actions{
  width:100%;
}
.login-top-section--mail{
  margin: 16px 0 0;
  text-align: center;
  position: relative;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
  background: #ea352d;
  border: none;
  width: 100%;
  font-size: 14px;
  line-height: 48px;
}

.login-top-section__item {
  text-decoration: none;
  color: white;
}