%footer.root-footer--menu
  .root-footer--menu--nav
    .root-footer--menu--nav--list
      %h2.root-footer--menu--nav--list__icon
        メルカリについて
      %ul.root-footer--menu--nav--list__company-outline
        %li.root-footer--menu--nav--list__company-outline__entity
          会社概要（運営会社）
        %li.root-footer--menu--nav--list__company-outline__entity
          採用情報
        %li.root-footer--menu--nav--list__company-outline__entity
          プレスリリース
        %li.root-footer--menu--nav--list__company-outline__entity
          公式ブログ
        %li.root-footer--menu--nav--list__company-outline__entity
          メルカリロゴ利用ガイドライン
        .root-footer--menu__icon
          = fa_icon "twitter 3x", class: "footer--menu--box--lower__search__categoly__icon"
          = fa_icon "facebook-square 3x", class: "footer--menu--box--lower__search__categoly__icon"
    .root-footer--menu--nav--list
      %h2.root-footer--menu--nav--list__icon
        ヘルプ&ガイド
      %ul.root-footer--menu--nav--list__help
        %li.root-footer--menu--nav--list__help__entity
          メルカリガイド
        %li.root-footer--menu--nav--list__help__entity
          らくらくメルカリ便
        %li.root-footer--menu--nav--list__help__entity
          ゆうゆうメルカリ便
        %li.root-footer--menu--nav--list__help__entity
          大型メルカリ便
        %li.root-footer--menu--nav--list__help__entity
          車体取引ガイド
        %li.root-footer--menu--nav--list__help__entity
          メルカリあんしん・安全宣言
        %li.root-footer--menu--nav--list__help__entity
          偽ブランド品撲滅への取り組み
        %li.root-footer--menu--nav--list__help__entity
          メルカリボックス
    .root-footer--menu--nav__base
      %h2.root-footer--menu--nav__base__icon
        プライバシーと利用規約
      .root-footer--menu--nav__base__rule
        %ul.root-footer--menu--nav__base__rule--list
          %li.root-footer--menu--nav__base__rule--list__entity
            プライバシーポリシー
          %li.root-footer--menu--nav__base__rule--list__entity
            メルカリ利用規約  
          %li.root-footer--menu--nav__base__rule--list__entity
            あんしんスマホサポート制度
          %li.root-footer--menu--nav__base__rule--list__entity
            コンプライアンスポリシー
      .root-footer--menu--nav__base__rule
        %ul.root-footer--menu--nav__base__rule--list
          %li.root-footer--menu--nav__base__rule--list__entity
            個人データの安全管理に係る基本方針
          %li.root-footer--menu--nav__base__rule--list__entity
            特定商取引に関する表記
          %li.root-footer--menu--nav__base__rule--list__entity
            資金決済法に基づく表示
          %li.root-footer--menu--nav__base__rule--list__entity
            法令順守と犯罪抑止のために
    .root-footer--menu--nav--list
      %h2.root-footer--menu--nav--list__icon
        国
      %ul.root-footer--menu--nav--list__country
        %li.root-footer--menu--nav--list__country__entity
          日本
        %li.root-footer--menu--nav--list__country__entity
          united states
  .root-footer--menu--copyright
    .root-footer--menu--copyright--box
      =image_tag  "https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"
      %span.root-footer--menu--copyright--box__logo
        © 2019 Mercari