.deals-footer
  %nav.deals-footer__agreement
    = link_to "#", class:"deals-footer__agreement__item" do
      プライバシーポリシー
    = link_to "#", class:"deals-footer__agreement__item" do
      メルカリ利用規約
    = link_to "#", class:"deals-footer__agreement__item" do
      特定商取引に関する表記
  = link_to embedded_svg("mercari/logo-gray.svg",height:"65",width:"80",class:"deals-footer__logo--image"),root_path, class: "deals-footer__logo" 
  %p.deals-footer__copyright
    &copy; 2019 Mercari