.deals-wrapper
  = render 'deals/header'
  %main.deals-main
    .deals-content
      .deals-content__section
        .deals-content__section__w320
          %h2.deals-content__section__w320__headline
            商品を購入しました
      .deals-content__section
        .deals-content__section__w320
          %p.deals-content__section__w320__notice
            = link_to root_path, class: "deals-content__section__w320__notice--link" do
              トップページへ戻る
  = render 'deals/footer'