// 発送先入力ページコンテナ
.delivery-address-container {
  &__form {
    margin-top: 2px;
    background: $background-white;
    padding: 40px 64px;
    &__field {
      margin: 0 auto 30px;
      max-width: 340px;
      &__label {
        font-weight: 600;
        display: flex;
        justify-content: start;
        align-items: center;
      }
      &__text_field {
        @include form-box;
        &:focus {
          border: 1px solid $form-focus;
        }
      }
      &__prefecture {
        margin: 8px 0;
        display: flex;
        justify-content: start;
        align-items: center;
        &__select {
          cursor: pointer;
          height: 48px;
          width: 100%;
          padding: 10px 16px;
          font-size: 16px;
          appearance: none;
          outline: none;
          background: transparent;
          border: 1px solid #ccc;
          border-radius: 4px;
          z-index: 2;
          &:focus  {
            border: 1px solid $form-focus;
          }
        }
        &__icon {
          color: #888;
          position: relative;
          pointer-events: none;
          margin-right: -20px;
          left: -40px;
          font-size: 2rem;
          line-height: 48px;
          z-index: 1;
        }
      }
      &__button {
        @include red-button;
        text-align: center;
        &:hover {
          background: #F28A86;
          transition: background 0.3s;
        }
      }
    }
  }
}