// PCサイズ
@media screen and (min-width: 1068px) {
  .card-container {
    float: right;
  }
}

// カード情報ページコンテナ
.card-container {
  width: 700px;
  &__header {
    background: #fff;
    &__headline {
      text-align: center;
      font-size: 24px;
      padding: 12px 24px;
    }
  }
  &__list {
    margin-top: 2px;
    padding: 64px;
    background: #fff;
    &__headline {
      margin: 0 auto;
      max-width: 320px;
      font-size: 16px;
    }
    &__cards {
      margin: 24px auto;
      max-width: 320px;
      text-align: center;
      &__button {
        color: #fff;
        background: #ea352d;
        font-size: 14px;
        line-height: 48px;
        &:hover {
          background: #F28A86;
          transition: background 0.3s;
        }
        &__icon {
          margin: 0 16px 0 0;
        }
      }
    }
    &--line {
      border-top: 1px solid #f6f6f6;
      margin: 36px 0;
    }
    &__help {
      display: flex;
      justify-content: end; 
      align-items: center;
      color: #0099e8;
      &__icon {
        margin: 0 0 0 8px;
      }
    }
  }

  label {
    font-weight: 600;
  }
  &__form {
    margin-top: 2px;
    background: #fff;
    padding: 40px 64px;
    &__field {
      margin: 0 auto 20px;
      max-width: 320px;
      &__text_field {
        width: 100%;
        height: 48px;
        margin: 6px 0;
        padding: 10px 16px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 4px;
      }
      &__cardlist {
        display: flex;
        justify-content: start; 
        align-items: center;
        &__carditem {
          list-style: none;
          &__image {
            height: 18px;
            margin-right: 12px;
          }
        }
      }
    }
  }
}

span.form--required {
  color: #fff;
  background: #ea352d;
  border-radius: 2px;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  font-size: 12px;
}