// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

a {
  text-decoration: none;
  text-shadow: none;
}

* {
  box-sizing: border-box;
}

html {
  background: #f5f5f5;
}

body{
  margin:0;
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
}

//中サイズ
@media screen and (max-width: 1067px) {
  #user-main
  {
    width: 700px;
    margin: 24px auto 40px;
    @include clearfix();
  }
}

// PCサイズ
@media screen and (min-width: 1068px) {
  #user-main
  {
    width: 1020px;
    margin: 40px auto;
    @include clearfix();
  }
  .user-container {
    float: right;
  }
}

// ユーザーページコンテナ
.user-container {
  width: 700px;
}

// マイページユーザー紹介部
.user-intro {
  width: 700px;
  height: 200px;
  padding: 40px;
  text-align: center;
  background: asset-url("user/user-bg.jpg");

  &__link {
    color: #333;
    &:hover {
      color: #999;
    }
    &__avator {
      border-radius: 50%;
      width: 60px;
      height: 60px;
    }
    &__username {
      margin-top: 8px;
      font-size: 14px;
      line-height: 14px;
      font-weight: 600;
    }
    &__userstatus {
      margin-top: 8px;
      font-size: 14px;
      line-height: 14px;
      &__count {
        margin: 0 8px;
        font-weight: 600;
      }
    }
  }
}

.user-tab-headline {
  padding: 0 12px;
  font-size: 16px;
  line-height: 72px;
  font-weight: 600;
  background: #fafafa;
}

// マイページタブ表示エリア
.user-tabcontent {
  width: 700px;
  margin-bottom: 40px;
  &__tabbar {
    display: flex;
    &__tab {
      width: 350px;
      height: 72px;
      line-height: 72px;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      background: #eee;
      &:hover {
        background: #f0f0f0;
        color: #666;
      }
      &--active {
        border-top: 2px solid #ea352d;
        background: #fff;
        &:hover {
          border-top: 2px solid #ED5D58;
          background: #fff;
        }
      }
    }
  }
  &__page
  {
    width: 700px;
    &--none {
      display: none;
    }
  }
}

// 通知・リスト項目
.user-notification {
  &__item
  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1px;
    padding: 16px;
    background: #fff;
    &:hover {
      background: #fafafa;
    }
    &__image {
      height: 48px;
      width: 48px;
    }
    &__headline {
      margin: 0 16px;
      line-height: 21px;
      flex-grow: 1;
      &--title {
        color: #333;
      }
      &--time {
        font-size: 12px;
        color: #888;
      }
    }
    &__icon {
      color: #333;
    }
  }
  &__footer {
    background: #fff;
    padding: 16px;
    &__button {
      display: block;
      line-height: 56px;
      text-align: center;
      color: #333;
      background: #eee;

      &:hover {
        background: #f3f3f3;
      }
    }
  }
}

.user-nolistitem {
  padding: 40px;
  background: #fafafa;
  color: #ccc;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  &--image {
    margin: 0 auto 20px;
    width: 78px;
    height: 85px;
  }
}