// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//中サイズ
@media screen and (max-width: 1067px) {
  #user-main
  {
    width: 700px;
    margin: 24px auto 0;
  }
}

// PCサイズ
@media screen and (min-width: 1068px) {
  #user-main
  {
    width: 1020px;
    margin: 40px auto 0;
  }

  .user-navigation {
    float: left;
    width: 280px;
  }

  .user-container {
    float: right;
    width: 700px;
  }
}

li.my