.personal-container {
  width: 700px;
  margin: 0 auto;
  &__form {
    margin-top: 2px;
    background: $background-white;
    padding: 64px;
    &__request {
      color: $text-deepgray;
      font-size: 14px;
      line-height: 21px;
      margin-bottom: 40px;
      @include clearfix();
      &__link {
        margin: 8px 0 0;
        float: right;
        color: $link-hover;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
    &__field {
      margin: 0 0 40px;
      &__label {
        font-weight: 600;
        font-size: 14px;
        display: flex;
        justify-content: start;
        align-items: center;
      }
      &__text {
        margin: 8px 0 0;
        font-size: 14px;
        line-height: 21px;
      }
      &__text_field {
        @include form-box;
        &:focus {
          border: 1px solid $form-focus;
        }
      }
      &__prefecture {
        margin: 8px 0;
        display: flex;
        justify-content: start;
        align-items: center;
        &__select {
          cursor: pointer;
          height: 48px;
          width: 100%;
          padding: 10px 16px;
          font-size: 16px;
          appearance: none;
          outline: none;
          background: transparent;
          border: 1px solid #ccc;
          border-radius: 4px;
          z-index: 2;
          &:focus  {
            border: 1px solid $form-focus;
          }
        }
        &__icon {
          color: #888;
          position: relative;
          pointer-events: none;
          margin-right: -20px;
          left: -40px;
          font-size: 2rem;
          line-height: 48px;
          z-index: 1;
        }
      }
      &__button {
        @include red-button;
        text-align: center;
        &:hover {
          background: #F28A86;
          transition: background 0.3s;
        }
      }
    }
  }
}