.card-container
  .card-container__header
    %h2.card-container__header__headline
      支払方法
  .card-container__list
    %h3.card-container__list__headline
      クレジットカード一覧
    = link_to mypage_cards_add_path do
      .card-container__list__button
        %p クレジットカードを追加する
  .card-container__footer
    = link_to '#' do
      支払方法について
